@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    text-transform: capitalize;
    transition: all .2s cubic-bezier(.37,1.14,.26,1.24);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url("image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 500px;
    text-align: center;
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
}

input[type="text"],
input[type="datetime-local"] {
    width: 45%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 8px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

li input[type="checkbox"] {
    margin-right: 5px;
}

li button {
    margin-left: 5px;
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

li button:hover {
    background-color: #e53935;
}
